<h1>Eat-Da-Burger!</h1>

<div class="in">

<h2>Burgers to Devour:<br><small>Sample These Text Burgers!</small></h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li class="burger">
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button type="submit">EATIN' TIME!</button>
        </form>

        
      </li>
    {{/unless}}
  {{/each}}
</ul>

</div>

<div class="out">
<h2>Burger Heaven:<br><small>A Home for Devoured Burgers</small></h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li class="burger">
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="false">
          <button type="submit">THROW UP!</button>
        </form>

      </li>
    {{/if}}
  {{/each}}
</ul>
</div>

<div class="add">

<h2>Add a Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger</button>
</form>
</div>